# Rust build artifacts
target/
**/*.rs.bk

# Cargo
.cargo/

# Debug artifacts
debug/
*.pdb

# Dependencies
vendor/
vendor.tar

# Debian packaging
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source
